@font-face {
  font-family: 'Persagy';
  src: url('../../assets/fonts/Persagy.ttf');
}

@font-face {
  font-family: 'Persagy-Medium';
  src: url('../../assets/fonts/Persagy-Medium.ttf');
}

@font-face {
  font-family: 'Persagy-Bold';
  src: url('../../assets/fonts/Persagy-Bold.ttf');
}
